  <div class="row">
      <!--Currency Card-->
      <%= render partial: 'top_currencies', locals: {top_currencies: @top_currencies}%> 
    <!--currency card ends-->
  </div>
  <div class="row card currency-table">
    <h3>Currency Charts | <%= params[:convert] || "USD"%></h3>
    <%=render partial: 'currency_info_index', locals: {currency_chart: @currency_info, conversion_medium: @conversion_medium}%>
  </div> 
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 pagin" style="text-align: right;"> 
      <%= will_paginate @currency_info, inner_window: 1, outer_window: 0, class: 'pagination pagination-card'%>
    </div>
  </div>
  <div class="row"> 

      <div class="col-md-12">
          <div class="title-block">
            <h3 style="color: black;">Today's Top Currency Charts</h3>
          </div>
          <div class="tabs">
            <ul class="horizontal">
              <%@top_currencies.each do |currency|%>
                <li><a href="#<%=currency.name.gsub(' ', '').downcase%>-tab"><%=currency.name.capitalize%></a></li>
              <% end %>
            </ul>
            <%@top_currencies.each do |currency|%>
              <div class="card" id="<%=currency.name.gsub(' ', '').downcase%>-tab">
                <div class="header">
                  <%= image_tag "crypto-logos/#{currency.name.gsub(' ', '').strip.downcase}.svg", class: "chart-logo inline-block" %>
                  <h4 class="title inline-block"><%=currency.name%> Value Mapping</h4>
                    <div class="currency-info" style="float: right;">
                      <p class="category">Current Value: ₹ <%=currency.price_inr.round(3)%></p>
                    </div>
                </div>
                <div class="content">
                  <div id="<%=currency.name.gsub(' ', '').strip.downcase%>Chart" class="ct-chart"></div>
                    <div class="footer">
                        <!--<div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Bitcoin
                            <i class="fa fa-circle text-warning"></i> Ethereum
                        </div>-->
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> Data information certified
                        </div>
                    </div>
                </div>
            </div>
            <% end %> 
          </div> <!--end of tabs-->
     </div> <!--end of column-->  
  </div>
  <%= render partial: 'dashboard_script' %>
